.container-questao {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.form {
    background-color: rgba(245, 245, 245, 0.548);
    border-radius: 1em;
    width: 90%;
    font-family: 'Asap', sans-serif;
    display: flex;
    flex-direction: column;
}

.container-form {
    margin: 3em;
}

.text-h1 {
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.item-cadastro-questao, .item-cadastro-questao-sem-radio {
    display: flex;
    align-items: center;    
    margin-top: 1em;
}

.item-cadastro-questao{
    justify-content: space-between;
}

.item-cadastro-questao-sem-radio{
    justify-content: flex-end;
}

.item-cadastro-questao input {
    width: 3em;
    height: 3em;
}

.item-cadastro-questao textarea, 
.item-cadastro-questao-sem-radio select, 
.item-cadastro-questao-sem-radio textarea {
    width: 90%;
    height: 5em; 
    border-radius: 0.5em;
    font-size: 16px;
    line-height: 20px;
    color: #666;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
}

.item-cadastro-questao-sem-radio select {
    height: 3em;
    font-size: 16px;
    background-color: #fff;
}
 
#inputEnunciado {
    height: 10em;
} 

textarea, select {
    padding-left: 1em;
}

textarea {
    padding-top: 0.5em;
}

.cont-buttons {
    display: flex;
    justify-content: space-between;
}

.cont-buttons button {
    width: 45%;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 25px; 
    background: #DF4723;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    font-family: 'Asap', sans-serif;    
}

#botaoCadastrar {
  background: #006641;
}
