.form {
    margin: 3em;
    background-color: rgba(245, 245, 245, 0.548);
    border-radius: 1em;
    padding: 3em;
    width: 80%;
}

form h1 {
    margin-left: 2em;
    font-family: 'Asap', sans-serif;
    font-weight: 700;
}

.item-cadastro-questao {
    margin: 1.5em 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-cadastro-questao input {
    width: 3em;
    height: 3em;
    margin-right: 2em;
}

.item-cadastro-questao textarea, .item-cadastro-questao select {
    width: 90%;
    height: 5em; 
    border-radius: 0.5em;
    padding-left: 1em;
    font-size: 16px;
    line-height: 20px;
    color: #666;
    margin: 1px 0 1px 0;
    font-family: 'Asap', sans-serif;
    font-weight: 400;
}

.item-cadastro-questao select {
    height: 3em;
    font-size: 16px;
    background-color: #fff;
}
 
#inputPergunta {
    height: 10em;
    margin-left: 4em;
} 

.cont-buttons {
    display: flex;
    justify-content: space-between;
}

.cont-buttons button {
    width: 40%; 
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 25px; 
    background: #DF4723;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    font-family: 'Asap', sans-serif;    
}

#botaoCadastrar {
  background: #006641;
}
