.container-relogio {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em;
    background-color: #afafaf;
    border-radius: 0.25em;
    color: white;
    font-size: 1.5em;
    padding: 0.3em;
}

.container-relogio strong {
    margin: 0 0.2em;
}
