.container-lista-provas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-lista-provas table {
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 1em;
    font-family: 'Asap', sans-serif;
    text-align: center;
    width: 90%;
    padding: 1em;
    margin: 3em;
    overflow: auto;
}

.cabecalho-tabela {
    background-color: rgba(245, 245, 245, 1);
}

.border-left {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.border-right {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

thead tr th, tbody tr td{
    padding: 1em;
}

.row-table:hover {
    background-color: white;
    cursor: pointer;
}

.alinhamento-questoes {
    text-align: start;
}