.container-resposta {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-texto {
    border-radius: 1em;
    text-align: center;
    padding: 2em;
    background-color: rgba(245, 245, 245, 0.5);
    width: 50%;
}

.container-texto h1, .container-texto h2 {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    margin: 0.5em;
}

.button {
    margin-top: 2em;
    width: 100%; 
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 25px; 
    background: #006641;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    font-family: 'Asap', sans-serif;    
}

#img-feedback {
    width: 20em;
    height: 20em;
}
