.container {
    display: flex;
    height: 100%;
    background: url(../../assets/fundo.png);
    font-family: 'Asap', sans-serif;
}

.container-dash{
    min-width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2em;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 1em; 
}

ul {
    width: 100%;
}

ul li {
    list-style: none;
    padding: 1.5em 2em;
    font-size: 16pt;
    font-weight: 500;
    border-bottom: 0.1px solid red;
}

ul li:hover {
    cursor: pointer;
    background-color: white;
}

.atual {
    background-color: rgba(256, 256, 256, 0.5);
}