.container {
    display: flex;
    height: 100%;
    width: 100%;
    background: url(../../assets/fundo.png); 
    font-family: 'Asap', sans-serif;
}

.dashboard-comandos {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2em;
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 1em; 
}

.img-dash {
    padding-left: 2.5em;
}

.container-opcoes {
    margin-top: 0.5em;
    width: 100%;
}

ul li {
    list-style: none;
    padding: 1.5em 2em;
    font-size: 16pt;
    font-weight: 500;
}

ul li:hover {
    cursor: pointer;
    background-color: white;
}

.atual {
    background-color: rgba(256, 256, 256, 0.5);
}