.container-info-prova {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.cont-info {
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 1em;
    font-family: 'Asap', sans-serif;
    width: 90%;
    padding: 1em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.info strong, .info p {
    font-size: 1.2em;
}

.container-buttons-editar-prova {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.container-buttons-editar-prova button {
    width: 45%; 
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 25px; 
    background: #DF4723;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    font-family: 'Asap', sans-serif;
}

#botaoEditar {
  background: #006641;
}