.container-questoes {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-questoes {
    width: 90%;    
    background-color: rgba(245, 245, 245, 0.548);
    border-radius: 1em;
    margin: 3em 0;
}

.info-prova {
    justify-content: space-between;
}

.container-info {
    margin: 2em;
    padding: 1.5em;
    background-color:#fff;
    border-radius: 1em;
    display: flex;
    align-items: center;
}

.alinhar-esquerda {
    margin-left: 3.5em;
}

.check-resposta {
    height: 2em;
    width: 2em;
    margin-right: 2em;       
}

.container-buttons {
    display: flex;
    justify-content: space-between;
}

.container-buttons button {
    width: 40%; 
    margin: 30px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 25px; 
    background: #DF4723;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    font-family: 'Asap', sans-serif;    
}

#botaoCadastrar {
    background: #006641;
}
